<div class="page-header">
  <h3>Copay #<%= @copay.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @copay.name %></dd>

      <dt>Pay as little as</dt>
      <dd><%= @copay.pay_as_little_as %></dd>

      <dt>Max saving</dt>
      <dd><%= @copay.max_saving %></dd>

      <dt>Cap</dt>
      <dd><%= @copay.cap %></dd>

      <dt>Url</dt>
      <dd><%= @copay.url %></dd>

      <dt>User</dt>
      <dd><%= @copay.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/copays" class="btn btn-primary">
        Back
      </a>
      <a href="/copays/<%= @copay.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_copay/<%= @copay.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
